<nav class="side-bar">
    <div class="user-p">
        <img src="{{ url_for('static', filename='/assets/img/icons/user.png') }}" alt="User">
        <h4>leul</h4>
    </div>
    <ul id="navList">
        <li>
            <a href="/admin/index.html">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.register') }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Create User</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Manage Users</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.login') }}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>
